In [2]:
import pandas as pd
import numpy as np 

nba_17_18 = pd.read_csv("17-18 nba data.csv")
nba_17_18.head()

,Rk,Player,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Alex Abrines,24,OKC,75,8,15.1,1.5,3.9,0.395,...,0.848,0.3,1.2,1.5,0.4,0.5,0.1,0.3,1.7,4.7
1,2,Quincy Acy,27,BRK,70,8,19.4,1.9,5.2,0.356,...,0.817,0.6,3.1,3.7,0.8,0.5,0.4,0.9,2.1,5.9
2,3,Steven Adams,24,OKC,76,76,32.7,5.9,9.4,0.629,...,0.559,5.1,4.0,9.0,1.2,1.2,1.0,1.7,2.8,13.9
3,4,Bam Adebayo,20,MIA,69,19,19.8,2.5,4.9,0.512,...,0.721,1.7,3.8,5.5,1.5,0.5,0.6,1.0,2.0,6.9
4,5,Arron Afflalo,32,ORL,53,3,12.9,1.2,3.1,0.401,...,0.846,0.1,1.2,1.2,0.6,0.1,0.2,0.4,1.1,3.4

In [14]:
nba_stats = nba_17_18.groupby(['Tm'])
nba_3s = pd.DataFrame(nba_stats['3P', '3PA'].sum())
nba_3s.head()

       3P   3PA
Tm
ATL  18.9  53.4
BOS  16.0  44.8
BRK  19.0  55.0
CHI  20.6  58.6
CHO  12.2  33.6