In [2]:
import pandas as pd
import numpy as np

In [24]:
ncaa_df = pd.read_csv('NCAA data/cleaned_ncaa_data.csv')
ncaa_group = ncaa_df.groupby(['game_id','season','team_alias','full_name']).mean()
ncaa_df.head()

,game_id,season,team_alias,full_name,points,minutes_int64,field_goals_made,field_goals_att,field_goals_pct,three_points_made,...,defensive_rebounds,rebounds,assists,turnovers,steals,blocks,assists_turnover_ratio,personal_fouls,tech_fouls,flagrant_fouls
0,000918c3-b8bf-472a-9a12-94a1984700eb,2013,LOU,Chris Jones,3.0,21.0,1.0,10.0,10.0,0.0,...,2.0,3.0,1.0,2.0,2.0,0.0,0.50,4.0,0.0,0.0
1,000918c3-b8bf-472a-9a12-94a1984700eb,2013,LOU,Luke Hancock,11.0,27.0,4.0,11.0,36.4,1.0,...,0.0,1.0,3.0,2.0,0.0,0.0,1.50,4.0,0.0,0.0
2,000918c3-b8bf-472a-9a12-94a1984700eb,2013,LOU,Mangok Mathiang,0.0,9.0,0.0,1.0,0.0,0.0,...,2.0,2.0,0.0,2.0,0.0,0.0,0.00,1.0,0.0,0.0
3,000918c3-b8bf-472a-9a12-94a1984700eb,2013,LOU,Montrezl Harrell,25.0,37.0,11.0,17.0,64.7,1.0,...,6.0,12.0,1.0,4.0,3.0,1.0,0.25,2.0,0.0,0.0
4,000918c3-b8bf-472a-9a12-94a1984700eb,2013,LOU,Russ Smith,19.0,33.0,7.0,16.0,43.8,2.0,...,5.0,5.0,5.0,2.0,3.0,0.0,2.50,5.0,0.0,0.0

In [31]:
#use dict to simplify ['game_id'] name
game_id_unique = ncaa_df['game_id'].unique()
game_id_replace = np.arange(0, len(game_id_unique), 1)
game_id_dict = dict(zip(game_id_unique, game_id_replace))
ncaa_df['game_id'] = ncaa_df.game_id.map(game_id_dict)
ncaa_df_index = ncaa_df.set_index('game_id')
ncaa_df.head()

,game_id,season,team_alias,full_name,points,minutes_int64,field_goals_made,field_goals_att,field_goals_pct,three_points_made,...,defensive_rebounds,rebounds,assists,turnovers,steals,blocks,assists_turnover_ratio,personal_fouls,tech_fouls,flagrant_fouls
0,0,2013,LOU,Chris Jones,3.0,21.0,1.0,10.0,10.0,0.0,...,2.0,3.0,1.0,2.0,2.0,0.0,0.50,4.0,0.0,0.0
1,0,2013,LOU,Luke Hancock,11.0,27.0,4.0,11.0,36.4,1.0,...,0.0,1.0,3.0,2.0,0.0,0.0,1.50,4.0,0.0,0.0
2,0,2013,LOU,Mangok Mathiang,0.0,9.0,0.0,1.0,0.0,0.0,...,2.0,2.0,0.0,2.0,0.0,0.0,0.00,1.0,0.0,0.0
3,0,2013,LOU,Montrezl Harrell,25.0,37.0,11.0,17.0,64.7,1.0,...,6.0,12.0,1.0,4.0,3.0,1.0,0.25,2.0,0.0,0.0
4,0,2013,LOU,Russ Smith,19.0,33.0,7.0,16.0,43.8,2.0,...,5.0,5.0,5.0,2.0,3.0,0.0,2.50,5.0,0.0,0.0

In [29]:
game_team_group_sum = ncaa_df.groupby(['game_id','team_alias']).sum()
game_team_group_sum.head(10)

                    season  points  minutes_int64  field_goals_made  \
game_id team_alias
0       LOU          18117    66.0          200.0              25.0
        MEM          18117    72.0          200.0              24.0
1       ARK          22143    61.0          225.0              21.0
        UGA          20130    66.0          225.0              18.0
2       HOU          18117    78.0          200.0              27.0
        USF          18117    69.0          200.0              28.0
3       FSU          22143    85.0          200.0              29.0
        VCU          24156    67.0          200.0              22.0
4       ASU          20130    76.0          200.0              27.0
        STAN         22143    64.0          200.0              21.0

                    field_goals_att  field_goals_pct  three_points_made  \
game_id team_alias
0       LOU                    63.0            183.5                4.0
        MEM                    49.0            412.9                6.0
1       ARK                    66.0            291.1                7.0
        UGA                    58.0            417.6                2.0
2       HOU                    49.0            390.1               12.0
        USF                    58.0            330.5                1.0
3       FSU                    54.0            516.3                4.0
        VCU                    75.0            343.5                5.0
4       ASU                    49.0            456.1               10.0
        STAN                   53.0            212.2                6.0

                    three_points_att  three_points_pct  two_points_made  \
game_id team_alias
0       LOU                     23.0             145.3             21.0
        MEM                      9.0             230.0             18.0
1       ARK                     23.0             270.0             14.0
        UGA                     14.0              40.0             16.0
2       HOU                     23.0             306.7             15.0
        USF                      9.0              14.3             27.0
3       FSU                     13.0              66.6             25.0
        VCU                     23.0             145.0             17.0
4       ASU                     19.0             400.0             17.0
        STAN                    19.0             133.3             15.0

                         ...        defensive_rebounds  rebounds  assists  \
game_id team_alias       ...
0       LOU              ...                      22.0      35.0     14.0
        MEM              ...                      26.0      33.0     17.0
1       ARK              ...                      16.0      32.0     11.0
        UGA              ...                      25.0      46.0      7.0
2       HOU              ...                      27.0      33.0     17.0
        USF              ...                      16.0      25.0     13.0
3       FSU              ...                      40.0      48.0     15.0
        VCU              ...                      17.0      32.0      7.0
4       ASU              ...                      24.0      29.0     18.0
        STAN             ...                      19.0      32.0      4.0

                    turnovers  steals  blocks  assists_turnover_ratio  \
game_id team_alias
0       LOU              14.0     9.0     4.0                    8.75
        MEM              16.0     7.0     6.0                    7.75
1       ARK              13.0     8.0     4.0                    6.33
        UGA              18.0     6.0     4.0                    2.43
2       HOU              14.0     2.0     5.0                    6.58
        USF               6.0     8.0     2.0                    6.00
3       FSU              24.0     6.0     6.0                    4.10
        VCU              14.0    14.0     4.0                    2.25
4       ASU              13.0     7.0     2.0                   10.17
        STAN             15.0     7.0     6.0                    1.33

                    personal_fouls  tech_fouls  flagrant_fouls
game_id team_alias
0       LOU                   24.0         0.0             0.0
        MEM                   19.0         0.0             1.0
1       ARK                   29.0         0.0             0.0
        UGA                   20.0         0.0             0.0
2       HOU                   19.0         0.0             0.0
        USF                   12.0         0.0             0.0
3       FSU                   21.0         0.0             0.0
        VCU                   25.0         0.0             0.0
4       ASU                   22.0         0.0             0.0
        STAN                  17.0         0.0             0.0

[10 rows x 27 columns]

In [34]:
game_team_group_points_sum = game_team_group_sum[['points']]
game_team_group_points_sum = game_team_group_points_sum.reset_index()
game_team_group_points_sum.head()

   game_id team_alias  points
0        0        LOU    66.0
1        0        MEM    72.0
2        1        ARK    61.0
3        1        UGA    66.0
4        2        HOU    78.0

In [56]:
ncaa_df.team_alias[1]

'LOU'

In [55]:
index_count = 0
ncaa_df['player_contribution'] = 0
for score in game_team_group_points_sum['points']:
    for index, row in ncaa_df_index.iterrows():
        if ncaa_df.loc[index, 'game_id'] == index_count and ncaa_df.loc[index, 'team_alias'] == ncaa_df.loc[(index+1), 'team_alias']:
            ncaa_df.player_contribution[index] = score
        else:
            ncaa_df.player_contribution[index] = score
            index_count += 1
            break
print(ncaa_df['player_contribution'])
#for index, row in ncaa_df_index.iterrows():
 #   for score in game_team_group_points_sum['points']:
  #      if ncaa_df_index[index, row] == index_count and ncaa_df[(index-1), 'team_alias'] == ncaa_df[(index-1), 'team_alias']:
   #         ncaa_df.player_contribution[row] = game_team_group_points_sum.points[score]

C:\Users\User\Anaconda3\envs\PythonData1\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\User\Anaconda3\envs\PythonData1\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

KeyboardInterrupt: